<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome Page</title>
</head>
<body>

    <div align="center">
        <img src="../asset/3.png" alt="Welcome Image" width="300">
    </div>

    <form method="get">
        <div align="center">
            <p>Do you have an account?</p>
            <button type="submit" formaction="login.html">If yes, press here</button>
            <button type="submit" formaction="signup.html">If no, press here</button>
        </div>
    </form>
    <p align="center">
        <a href="homepage.html">Go to Homepage</a>
    </p>

</body>
</html>
